body{
background-image: url(image/confectionary.png);


}

.container{
width:800px;
margin:60px auto;
}
.job{
padding-top:32px;
padding-left:8px;
}

.edu{
padding-left:8px;
}
.place{
display:inline;
text-align:left;

}
.date{
text-align:right;

float:right;
display:inline;
}
.major{
font-style:italic;
padding-bottom:16px;
}

.sk{
padding-left:8px;
}

.skills{
font-weight:bold;
padding-top:8px;
}

#name{
text-align:center;
}

#educat{
padding-top:32px;
}