body{
background-image: url(image/confectionary.png);
width:950px;
margin:60px auto;
}

p{
text-align:center;
}
main{
background-color:rgba(0,153,0,0.20);
padding:10px;
border-radius:15px;
}

h1{
text-align:center;
}


.job{
margin-top:32px;
padding-left:8px;
background-color:rgba(0,153,0,0.20);
border-radius:15px;
}

.edu{
padding-left:8px;
background-color:rgba(0,153,0,0.20);
border-radius:5px;
}
.place{
display:inline;
text-align:left;

}
time{
text-align:right;
float:right;
display:inline;
padding-right:60px;
}
.major{
font-style:italic;
padding-bottom:16px;
}

.sk{
padding-left:8px;
}

.skills{
font-weight:bold;
padding-top:8px;
}


#educat{
padding-top:32px;
}